<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Ryan's Node Baseball Site</title>
  
  <!-- CSS Style Sheet -->
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8080/content/application.css">
  
  <!-- Angular Libraries -->
  <script src="/libs/angular/angular.js" typer="text/javascript"></script>
  <script src="/libs/angular-route/angular-route.js" typer="text/javascript"></script>
  
  <!-- Angular Files -->
  <script src="/js/controllers.js" type="text/javascript"></script> <!-- controller -->
  <script src="/js/services.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script> <!-- Angular front-end application -->
  
</head>
 
<body ng-app="baseballApp" ng-controller="baseballController">
<form id="form" ng-submit="processForm()">
<br> <h1>Calculate a player's Value Over Replacement Player (VORP) over a given time period. </h1></br>
<p><h2> Instructions: </h2>
<h3 class="instructions"> 1. Search for a player until player's name shows below search box. </h3></br>
<div> Player: <br /></div>
<div> <input type="text" placeholder="Enter Player's Name" ng-model="formData.search_str" ng-change="search()"> <br /> </div> <!-- ng-change implements calling search every time text is changed in input -->
<div>{{formData.name}}<br /></div>
<br>

<br><h3 class="instructions"> 2. Enter dates in mm/dd/yyyy format.</h3></br>
<div> Start Date for Player: <br /> </div>
<div> <input type="date" placeholder="MM/DD/YYYY" ng-model="formData.start_date"/> <br /> </div>
<div> End Date for Player: <br /> </div>
<div> <input type="date" placeholder="MM/DD/YYYY" ng-model="formData.end_date"/> <br /> </div>
<div> <input type="submit" value="Submit"/></div>

</form>
<br>
<br><h2 class="answer"><div ng-model="formData.message">{{formData.message}}</div></h2>

<br>
For more info on VORP, see <a href=https://en.wikipedia.org/wiki/Value_over_replacement_player>Wikipedia</a>
</br>

</body>

</html>